@font-face {
	font-family: simpson_font;
	src: url('simpson_font.ttf');
}

body {
    font-family:simpson_font;
    background-color:#FFD90F;
    text-align:center;
    padding:0px;
    margin:0px;
}

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#content { padding-bottom:5em; padding-top:6em; }

li.episode {
    display:block;
    text-align:center;
    float:left;
    margin:5px;
    width:200px;
    height:200px;
    /*border:2px solid #000;*/
    padding:4px;
}

li.episode:hover {
    background:#FFF;
}

li.episode a {
    display:block;
    width:200px;
    height:200px;
    color:#000;
    text-decoration:none;
    margin:0px;
    margin-top:-20px;
    padding:0px;
}

li.episode img {
    margin:5px 10px;
    width:175px;
    height:128px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 12px;
}

#embedded_video {
    float:left;
    width:400px;
    margin:0px;
}

ul#season_links {
    width:890px;
    height:30px;
    margin:0 auto 5px;
    padding:5px;
}

ul#season_links li {
    float:left;
    display:block;
    font-size:16pt;
    text-align:center;
    height:40px;
}

ul#season_links li.single-digit {
    width:28px;
}

ul#season_links li.double-digit {
    width:41px;
}

ul#season_links li a {
    color:#000;
    text-decoration:none;
}

ul#season_links li a:hover {
    font-size:28pt;
}

ul#season_links #season_link_label a:hover {
    font-size:16pt;
}

#season_link_label {
    margin-right:25px;
}

ul#season_links li.double-digit a:hover {
    margin-left:-3px;
}

div#content {
    width:900px;
    text-align:center;
    margin:0px auto;
}

h1.homepage {
    font-size:48pt;
    margin:5px;
}

img#simpsons-characters {
    width:900px;
}

ul#season-episodes {
    margin:5px auto;
    width:875px;
    padding:5px 5px 30px 5px;
    height:1325px;
}

div.clearfix {
    clear:both;
}

h1 {
    font-size:24pt;
    margin:5px 5px 5px 5px;
    letter-spacing:3px;
}

h2 {
    font-size:32pt;
    margin:5px 5px 20px 5px;
    letter-spacing:3px;
}

#episode_content h3 {
    font-family:Comic Sans MS;
    font-size:12pt;
    float:left;
    margin:5px 5px 5px 5px;
    text-align:left;
}

.season-label {
    text-align:center;
    width:200px;
}

#video_thumb {
    width:400px;
    height:300px;
    border:0px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}

#episode_stats {
    width:400px;
    float:right;
    font-size:16pt;
}
#episode_stats ul#stats {
    padding:0px;
    margin:0px 5px;
}
#episode_stats ul#stats li {
    list-style-type:none;

}
.stats_label {
    float:left;
    width:200px;
    text-align:left;
    margin-top:10px;
}
.stats_value, .ajaxful-rating-wrapper {
    float:right;
    width:150px;
    margin-left:10px;
    text-align:center;
}
#rating_label {
    margin-top:15px;
}

.yellow-box {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
    -webkit-gradient(linear, 0% 0%, 0% 50%, from(#FFD90F), to(#FFFFFF));
    border-radius:12px;
}
.white-box {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
    -webkit-gradient(linear, 0% 0%, 0% 50%, from(#FFD90F), to(#FFFFFF));
    border-radius:12px;
}
#episode_summary {
    width:475px;
    height:362px;
    float:right;
    overflow-y: auto;
    overflow-x: hidden;
    padding:5px;
}

#episode_title {
    height:58px;
    overflow:hidden;
    margin:5px 0px;
}

#header, #footer {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
    width:100%;
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
}

#header {
    margin-bottom: -5em;
}

#footer {
    margin-top: -5em;
    text-align:center;
}

#footer ul {
    list-style:none;
    margin:0px auto;
    padding:35px;
    width:875px;
}

#footer ul li {
    float:left;
    margin-left:75px;
}