@font-face {
	font-family: simpson_font;
	src: url('simpson_font.ttf');
}

body {
    font-family:simpson_font;
    background-color:#FFD90F;
    text-align:center;
    padding:0px;
    margin:0px;
}

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; width:900px; margin:0px auto; }
#content { padding-bottom:2em; padding-top:3em; }

li.episode {
    display:block;
    text-align:center;
    float:left;
    margin:5px;
    width:200px;
    height:200px;
    /*border:2px solid #000;*/
    padding:4px;
}

li.episode:hover {
    background:#FFF;
}

li.episode a {
    display:block;
    width:200px;
    height:200px;
    color:#000;
    text-decoration:none;
    margin:0px;
    margin-top:-20px;
    padding:0px;
}

li.episode img {
    margin:2px 10px 8px;
    width:175px;
    height:128px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 12px;
}

#embedded_video {
    float:left;
    width:400px;
    margin:0px;
}

ul#season_links {
    width:890px;
    height:30px;
    margin:0 auto 5px;
    padding:5px;
}

ul#season_links li {
    float:left;
    display:block;
    font-size:16pt;
    text-align:center;
    height:40px;
}

ul#season_links li.single-digit {
    width:28px;
}

ul#season_links li.double-digit {
    width:41px;
}

ul#season_links li a {
    color:#000;
    text-decoration:none;
}

ul#season_links li a:hover {
    font-size:28pt;
}

ul#season_links #season_link_label a:hover {
    font-size:16pt;
}

#season_link_label {
    margin-right:25px;
}

ul#season_links li.double-digit a:hover {
    margin-left:-3px;
}

div#content {
    width:900px;
    text-align:center;
    margin:0px auto;
    height:100%;
    float:left;
}

img#simpsons-characters {
    width:850px;
}

ul#season-episodes {
    margin:5px auto;
    width:875px;
    padding:5px;
    float:left;
}

div.clearfix {
    clear:both;
}

h1 {
    font-size:24pt;
    margin:5px 5px 5px 5px;
    letter-spacing:3px;
}

h2 {
    font-size:32pt;
    margin:5px 5px 20px 5px;
    letter-spacing:3px;
}

#episode_content h3 {
    font-family:Comic Sans MS;
    font-size:12pt;
    float:left;
    margin:5px 5px 5px 5px;
    text-align:left;
}

.season-label {
    text-align:center;
    width:200px;
}

#video_thumb {
    width:400px;
    height:300px;
    border:0px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}

#episode_stats {
    width:400px;
    float:right;
    font-size:16pt;
}
#episode_stats ul#stats {
    padding:0px;
    margin:0px 5px;
}
#episode_stats ul#stats li {
    list-style-type:none;

}
.stats_label {
    float:left;
    width:200px;
    text-align:left;
    margin-top:10px;
}
.stats_value, .ajaxful-rating-wrapper {
    float:right;
    width:150px;
    margin-left:10px;
    text-align:center;
}
#rating_label {
    margin-top:15px;
}

.yellow-box {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
    -webkit-gradient(linear, 0% 0%, 0% 50%, from(#FFD90F), to(#FFFFFF));
    border-radius:12px;
}
.white-box {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
    -webkit-gradient(linear, 0% 0%, 0% 50%, from(#FFD90F), to(#FFFFFF));
    border-radius:12px;
}
#episode_summary {
    width:475px;
    height:367px;
    float:right;
    overflow-y: auto;
    overflow-x: hidden;
    padding:5px;
}

.episode-title {
    height:56px;
    overflow:hidden;
    margin:5px 0px;
}

#header, #footer {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
    width:100%;
    clear: both;
    position: relative;
    z-index: 10;
}

#header {
    margin-bottom: -5em;
    height: 5em;
}

#footer {
    height: 5em;
    margin-top: -5em;
    text-align:center;
}

#footer ul {
    list-style:none;
    margin:0px auto;
    padding:35px;
    width:875px;
}

#footer ul li {
    float:left;
    margin-left:80px;
}

#footer a {
    color:#000;
    text-decoration:none;
}

#btn_prev, #btn_next, #like, #random {
    width:200px;
    height:50px;
    margin-top:30px;
}

#btn_prev {
    float:left;
}

#btn_next {
    float:right;
}

#btn_prev a, #btn_next a, #random a {
    display:block;
    width:200px;
    height:50px;
    color:#000;
    text-decoration:none;
    padding-top:20px;
}

#like {
    width:400px;
    height:50px;
    float:left;
    margin-left:50px;
    text-align:center;
}

#like iframe {
    margin:13px auto;
}

#random {
    float:left;
    margin-left:150px;
}

/*
* ---------------------------------------------------------------------------------
* Ajaxful-Rating
* Style by Rogie http://www.komodomedia.com/blog/2007/01/css-star-rating-redux/
* ---------------------------------------------------------------------------------
*/

.ajaxful-rating,
.ajaxful-rating a:hover,
.ajaxful-rating a:active,
.ajaxful-rating a:focus,
.ajaxful-rating .show-value{
    background: url(/images/ajaxful_rating/star.png) left -1000px repeat-x;
}
.ajaxful-rating{
    position: relative;
    /*width: 125px; this is setted dynamically */
    height: 50px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: left top;
}
ul.ajaxful-rating {
    width:150px;
}
.ajaxful-rating li{ display: inline; }
.ajaxful-rating a,
.ajaxful-rating span,
.ajaxful-rating .show-value{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    height: 50px;
    line-height: 50px;
    outline: none;
    overflow: hidden;
    border: none;
}
.ajaxful-rating a:hover,
.ajaxful-rating a:active,
.ajaxful-rating a:focus{
    background-position: left bottom;
}
.ajaxful-rating .show-value{
    z-index: 1;
    background-position: left center;
}
.ajaxful-rating {width: 75px; }
.ajaxful-rating .stars-1 {z-index: 4; width: 33.3333333333333%; }
.ajaxful-rating .stars-2 {z-index: 3; width: 66.6666666666667%; }
.ajaxful-rating .stars-3 {z-index: 2; width: 100.0%; }